# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Spark / logs
*.log

# OS junk
.DS_Store
Thumbs.db


# Ignore all data files
data/raw/*

# But keep folder structure
!data/raw/.gitkeep
